{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
Posts
{% endblock title %}

{% block content %}
 {% if is_not_subscriber %}
   <p class="text-center"><a href="{% url 'subscribe' category.id %}" class = "btn btn-secondary btn-sm">Subscribe</a></p>
 {% else %}
    <p class="text-center"><a href="{% url 'unsubscribe' category.id %}" class = "btn btn-secondary btn-sm">Unsubscribe</a></p>
    {% endif %}
<h2>All posts</h2>
    <h3>{{ time_in|date:'d.m.Y' }}</h3>

   {% if category_news %}
       <table>
           <tr>
               <td>author</td>
               <td>title</td>
               <td>time_in</td>
               <td>content</td>
               <td>category</td>
           </tr>
           {% for post in category_news %}
           <tr>
               <td>{{ post.author|censor }}</td>
               <td>{{ post.title|censor }}</td>
               <td>{{ post.time_in|date:'d.m.Y' }}</td>
               <td>{{ post.content|truncatechars:20|censor }}</td>
               <td>
                   {% for category in post.category.all %}
                       {{ category }}
                   {% endfor %}
               </td>
           </tr>
           {% endfor %}
       </table>
   {% else %}
       <h2>No news published!</h2>
   {% endif %}

    {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}